.timer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 500;
  background-color:  #344e64;
  color: #dfedfb;
}

.remove-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

.remove-button:hover {
  background-color: #f0f0f0;
  color: #333;
} 