@import "tailwindcss";

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  --color-background: #273238;
  --color-secondary-background: #546e7a;
  --color-tertiary-background: #37474f;
  --color-foreground: #ffffff;
}
